### Java ###
*.class

### Python ###
*.pyc

### Gradle ###

/earasoft-*/build/
/earasoft-*/bin/
/earasoft-*/log/
/earasoft-*/dist/

*/.gradle/
*/.svn/
build

### Eclipse ###
*.pydevproject
.metadata
*.tmp
*.bak
*.swp
*~.nib
*.project
*.classpath
*/.settings

### IDEA ###
*.iml
*.ipr
*.iws

.idea/
.gradle/
.svn/
.settings/
