### Java ###
*.class

### Python ###
*.pyc

### Gradle ###

/earasoft-*/build/
/earasoft-*/bin/
/earasoft-*/log/
/earasoft-*/dist/

*/.gradle/
*/.svn/
build

### Eclipse ###
*.pydevproject
.metadata
*.tmp
*.bak
*.swp
*~.nib
*.project
*.classpath
*/.settings

### IDEA ###
*.iml
*.ipr
*.iws

.idea/
.gradle/
.svn/
.settings/

fileserver/node_modules
fileserver/public
fileserver/.tmp
fileserver/client/bower_components
fileserver/dist
fileserver//server/config/local.env.js
fileserver/npm-debug.log


*.nxml
/barium/output.txt
